@import 'variables';

.slider {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
  margin: 0 auto;
  width: 80%;
  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: 25px;
    overflow-x: hidden;
    &__image {
      width: auto;
      height: 200px;
      border-radius: 10px;
    }
    &--top {
      margin-bottom: 10px;
    }
    &--top,
    &--bottom {
      display: inline-block;
      position: relative;
      width: max-content;
      &--controls {
        position: absolute;
        display: flex;
        flex-direction: column;
        right: 0;
        top: 0;
        &--left-arrow,
        &--right-arrow {
          border: 1px solid $disabledColor;
          padding: 15px;
          border-radius: 10px;
          cursor: pointer;
          background-color: #ffffff;
          transition: 0.3s;
          &--active-state {
            display: none;
          }
          &:hover {
            border: 1px solid $primaryColor;
          }
          &:hover & {
            &--disabled-state {
              display: none;
            }
            &--active-state {
              display: inline;
            }
          }
          &:not(:last-child) {
            margin-bottom: 5px;
          }
        }
      }
    }
    .image-position-top:not(:last-child) {
      margin-right: 10px;
    }
    .image-position-bottom:not(:last-child) {
      margin-right: 10px;
    }
    &--text {
      width: 100%;
      & h2 {
        font-weight: bold;
        font-size: 38px;
        line-height: 57px;
        color: $primaryColor;
      }
      & p {
        font-size: 20px;
        line-height: 30px;
      }
    }
  }
}

.slider-bottom-wrapper {
  position: relative;
}
