.slider {
  display: flex;
  &__wrapper {
    position: relative;
    width: fit-content;
    display: flex;
    flex-direction: column;
    width: 80%;
    &__image {
      width: auto;
      height: 200px;
      border-radius: 10px;
    }
    &--top {
      margin-bottom: 10px;
    }
    &--top,
    &--bottom {
      display: inline-block;
      position: relative;
      &--controls {
        position: absolute;
        display: flex;
        flex-direction: column;
        right: 100px;
        top: 0;
        & img {
          border: 1px solid blue;
          padding: 15px;
          border-radius: 10px;
          cursor: pointer;
          background-color: #ffffff;
          transition: 0.3s;
          &:hover {
            background-color: darkgray;
          }
          &:not(:last-child) {
            margin-bottom: 5px;
          }
        }
      }
    }
    .image-position-top:not(:last-child) {
      margin-right: 10px;
    }
    .image-position-bottom:not(:last-child) {
      margin-right: 10px;
    }
    &--text {
      width: 20%;
    }
  }
}
